@model Teatar.Models.Genre
@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete it?</h3>
<div>


    <dl class="dl-horizontal">

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to the list", "Index")
        </div>
    }
</div>
